@model OnBirEkimKutuphane.Models.entity.yazar
@{
    ViewBag.Title = "yenikategori";
    Layout = "~/Views/default_layout.cshtml";
}

<br />
<h2 class="popover-header">Yeni Kategori Ekleme Sayfası</h2>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <label class="form-group">Kategori Adı</label>
                <input type="text" name="kategoriAdi" class="form-control" />
                <br />
                <button class="btn btn-outline-primary">Kaydet</button>
            </form>

        </div>

    </div>
</div>

