@model OnBirEkimKutuphane.Models.entity.personel
@{
    ViewBag.Title = "perbul";
    Layout = "~/Views/default_layout.cshtml";
}

<br />
<h2 class="popover-header">Personel Liste</h2>
<br />

@using(Html.BeginForm("personelgun","personel",FormMethod.Post))
            {
                <div class="container-fluid">
                    <label>Personel AdiSoyadi</label>
                    @Html.TextBoxFor(x=>x.personelAdiSoyadi,new  { @class="form-control"})
                    <br />
                <button class="btn btn-outline-success">Güncelle</button>
                    @Html.HiddenFor(x=>x.personelID)
                </div>
            }