@model OnBirEkimKutuphane.Models.entity.personel
@{
    ViewBag.Title = "yeniper";
    Layout = "~/Views/default_layout.cshtml";
}

<br />
<h2 class="popover-header">Yeni Personel Ekle</h2>
<br />

<div class="container form-control">
    <form method="post" class="form-control">
        <label>Personel Adı Soyadı</label>
        <input type="text" name="personelAdiSoyadi"  />
        <br />
        <button class="btn btn-outline-dark ">Kaydet</button>
    </form>
</div>

