
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Bursa Kütüphane Otomasyon Sistemi</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/startbootstrap-simple-sidebar-gh-pages/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/startbootstrap-simple-sidebar-gh-pages/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">Bursa Kütüphane</div>
            <div class="list-group list-group-flush">

                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">
                    @Session["AdSoyad"] Hoşgeldiniz
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/kitap/kitapliste/">Kitap</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/yazar/yazarliste/">Yazar</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/kategori/kategoriliste/">Kategori</a>
                @*<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/iade/okumagecmisim/">Okumalarım</a>*@

                @if (User.IsInRole("A"))
                {
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/uye/uyeliste">Üye</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/personel/personelliste/">Personel</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/hesap/adminliste/">Kullanıcı Bilgileri</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/odunc/oduncliste/">Ödünç Listesi</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/iade/iadeliste/">İade Listesi</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/kartlar/istatistikler/">İstatistikler</a>
                }



            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-primary" id="sidebarToggle">Menüyü Gizle</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active"><a class="nav-link" href="/anasayfa/ilksayfa">Anasayfa</a></li>
                            @*<li class="nav-item"><a class="nav-link" href="#!">Gazeteler</a></li>*@
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profilim</a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                  
                                    @*<a class="dropdown-item" >@Html.ActionLink("Bilgilerim","adminbilgim","hesap")</a>*@
                                    <a class="dropdown-item" href="/hesap/guncelle">Hesabım</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/hesap/cikisyap">Çıkış Yap</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid">

                @RenderBody()

            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/startbootstrap-simple-sidebar-gh-pages/js/scripts.js"></script>
</body>
</html>
